@font-face {
  font-family: 'Caslon Antique';
  src: "./public/fonts" format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.casing-container {
  margin: auto;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;

  background: linear-gradient(-45deg, #d2d2d2, #ffffff, #e4e4e4, #e7e7e7);
  background-size: 400% 400%;
  
}

@media (max-width: 600px) {
  .casing-container {
    padding: 4px;
  }

}


